* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

/* Button 1 */
.btn_1 {
  border: 0;
  font-weight: Bold;
  transition: 0.3s !important;
}
.btn_1:hover {
  transform: scale(1.05);
}

/* Button 2 */

.btn_2 {
  box-shadow: inset 1px 1px 2px 0px rgba(255, 255, 255, 0.5);
  outline: none;
}

/* button 3 */

.btn_3 {
  color: #947600;
  border-radius: 0;
  border: 2px solid #947600;
  padding: 12px 20px;
  width: 130px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
}
.btn_3:hover {
  color: #fff !important;
}
.btn_3:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease-out;
  background: #947600;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn_3:hover:after {
  opacity: 1;
  height: 100%;
  width: 110%;
  padding: 35%;
}

/* Button 4 */

.btn_4 {
  display: inline-block;
  position: relative;
  width: 130px;

  background-color: #000 !important;
}

.btn_4:before {
  content: "";
  position: absolute;
  border: #000 solid 3px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  opacity: 0;
  transition-duration: 0.3s;
}

.btn_4:hover:before {
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  opacity: 1;
}

/* Button 5 */

.btn_5 {
  padding: 13px 20px;
  appearance: none;
  background-color: #ebebeb;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  outline: 0;
  position: relative;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
}

.btn_5:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #000000;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.btn_5:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.btn_5:hover {
  color: #fff !important;
}

.btn_5 span {
  z-index: 1;
  position: relative;
}

/* Button 6 */
.btn_6 {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  border: none;
  font-weight: 600;
  background: none;
}

.btn_6:hover {
  color: #333;
}

.btn_6:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #333;
  transition: all 0.3s linear;
}

.btn_6:hover:after {
  width: 100%;
  left: 0%;
}

/* Button 6 */

/* Button 7 */
.btn_7 {
  padding: 0.7em 1.7em;
  font-size: 16px;
  font-weight: 600;
  font-family: poppins;
  background: #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 10px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn_7:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #0089d8, inset -4px -4px 12px #e4e4e4;
}

/* Button 8 */

.btn_8 {
  width: 9em;
  height: 3em;
  font-size: 15px;
  font-weight: 600;
  font-family: poppins;
  padding: 10px 20px;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: 0.5s ease;
}
.btn_8:hover {
  color: #fff !important;
}

.btn_8::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #06003d 0%, #002872 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn_8:hover::before {
  width: 9em;
}

/* Button 9 */

.btn_9 {
  align-items: center;
  font-size: 17px;
  transition: 0.3s ease;
}

.btn_9:hover {
  background: rgb(153, 1, 1);
}


